@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Umbraco.Forms.Integrations.Testsite</title>
  </head>
  <body>
    <main>
        <h1>Umbraco Forms Integrations Testsite</h1>  
        <div>
            @RenderBody()
        </div>
    </main>
  </body>
</html>