<div>
    <!--
    <pre>{{ vm.setting | json }}</pre>
    <pre>{{ vm.mappings | json }}</pre>    
    -->

    <div ng-show="!vm.loading && vm.authorizationStatus === 'Unauthenticated'">
        <p>Umbraco Forms is not configured with a HubSpot CRM account.</p>
        <p>To do this you can either create and save an API key or a Private Access Token into the <i>appsettings.json</i> file.</p>
        <p>Or you can click <a ng-click="vm.openAuth()" style="text-decoration: underline">here</a> to complete an OAuth connection.</p>
        <p><em>If your browser is unable to process the automated connection, paste the provided authorization code below and click to complete the authentication.</em>
        <input type="text" placeholder="Enter authorization code" ng-model="vm.authorizationCode" />
        <umb-button type="button" disabled="vm.authorizationCode === ''" action="vm.authorize()" label="Authorize"></umb-button>
    </div>

    <div ng-show="!vm.loading && vm.authorizationStatus !== 'Unauthenticated'">

        <div class="umb-forms-settings-note ng-scope">
            Umbraco Forms is configured with a HubSpot CRM account using: <b>{{ vm.authorizationStatus }}</b></p>
        </div>

        <div class="umb-forms-mappings mt2" ng-show="vm.mappings.length > 0 && vm.hubspotFields.length > 0">

            <div class="umb-forms-mapping-header">
                <div class="umb-forms-mapping-field -no-margin-left">Form Field</div>
                <div class="umb-forms-mapping-field">Hubspot Field</div>
                <div class="umb-forms-mapping-field text-center">Append when updating values</div>
                <div class="umb-forms-mapping-remove -no-margin-right"></div>
            </div>

            <div ng-repeat="mapping in vm.mappings">

                <div class="umb-forms-mapping">
                    <div class="umb-forms-mapping-field">
                        <select class="-full-width"
                                ng-options="field.id as field.value for field in vm.fields"
                                ng-model="mapping.formField"
                                ng-change="vm.stringifyValue()">
                        </select>
                    </div>

                    <div class="umb-forms-mapping-field">
                        <select class="-full-width"
                                ng-options="field.value as field.name for field in vm.hubspotFields"
                                ng-model="mapping.hubspotField"
                                ng-change="vm.stringifyValue()">
                        </select>
                    </div>

                    <div class="umb-forms-mapping-field flex justify-center">
                        <umb-checkbox name="chkAppend"
                                      value="mapping.appendValue"
                                      model="mapping.appendValue"
                                      on-change="vm.stringifyValue()">
                        </umb-checkbox>
                    </div>

                    <div class="umb-forms-mapping-remove -no-margin-right">
                        <a href="" ng-click="vm.deleteMapping($index)"><i class="icon-trash"></i></a>
                    </div>
                </div>

                <div ng-if="mapping.hubspotField" style="margin-bottom:15px;">
                    <strong>Description:</strong><br />
                    {{ vm.getHubspotFieldDescription(mapping.hubspotField) }}
                </div>
            </div>
        </div>

        <div class="mt2">
            <umb-button type="button" action="vm.addMapping()" label="Add mapping"></umb-button>

            <div ng-show="vm.authorizationStatus === 'OAuth'" style="margin-top: 20px">
                <umb-button type="button" action="vm.deauthorize()" label="De-authorize from Hubspot"></umb-button>
            </div>
        </div>

    </div>

</div>