@page
@model IndexModel
@{
    ViewData["Title"] = "Authorization";
}

<div class="text-center">
    <h1 class="display-4">Umbraco Forms / Hubspot</h1>
    @if (string.IsNullOrEmpty(Model.AuthorizationCode))
    {
        <p>Authentication failed - no authorization code received.</p>
    }
    else
    {
        <p>To complete the integration, please copy the following code and enter it in Umbraco using the form provided.</p>

        <p><input type="text" value="@Model.AuthorizationCode" readonly style="width: 700px; font-size: 36px; text-align: center" /></p>
    }
</div>
